# ENABLE DIRECTORY VIEWS
Options +Indexes

# SET INDEX OPTIONS
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble

<IfModule mod_autoindex.c>
    Options Indexes FollowSymLinks
    IndexOptions FancyIndexing
    IndexOptions VersionSort
    IndexOptions HTMLTable
    IndexOptions FoldersFirst
    IndexOptions IconsAreLinks
    IndexOptions IgnoreCase
    IndexOptions SuppressDescription
    IndexOptions SuppressHTMLPreamble
    IndexOptions XHTML
    IndexOptions IconWidth=16
    IndexOptions IconHeight=16
    IndexOptions NameWidth=*
    IndexOrderDefault Descending Name
    HeaderName /index-style/header.html
    ReadmeName /index-style/footer.html
</ifModule>

